body {
  /* background-color: var(--bs-gray-dark); */
  background-color: rgb(24, 26, 27);
}
.form-control {
  /* background-color: #1c1e21; */
  background-color: var(--bs-dark);
  color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.form-control:focus {
  background-color: var(--bs-gray-dark);
  box-shadow: none;
  color: var(--bs-light);
  border-color: var(--bs-primary);
}

.alert-float {
  position: fixed;
  bottom: 0;
}

.alert-info {
  color: #055160;
  background-color: #95b7bf;
  border-color: #05516050;
}

.alert-danger {
  color: #842029;
  background-color: #b9989b;
  border-color: #84202950;
}

.fade-in {
  animation: fadeIn 1s;
}

.fade-out {
  animation: fadeOut 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.user-dropdown {
  position: absolute;
  transform: translate(0px, 50px);
  top: 0px;
  left: 0px;
}

@media (min-width: 992px) {
  .user-dropdown {
    transform: translate(-70px, 50px);
  }
}
